{% macro render_main_nav_menu() %}
    <nav class="main-nav">
        <ul>
            <li>
                <a href="https://tuesmoncom.github.io/tuesmon-doc/dist/" target="_blank"
                   alt="Go to Tuesmon docs for admin and developers">
                    DOCS
                </a>
            </li>
            <li>
                <a href="https://tuesmoncom.github.io/tuesmon-doc/dist/api.html" target="_blank"
                   alt="Go to the Tuesmon API documentation">
                    API
                </a>
            </li>
            <li>
                <a href="https://groups.google.com/d/forum/tuesmoncom" target="_blank"
                   alt="Go to the Tuesmon mailing list at Google Groups">
                    GOOGLE GROUP
                </a>
            </li>
            <li>
                <a href="https://manage.tuesmon.com" target="_blank"
                   alt="Go to Tuesmon Tree">
                    TUESMON
                </a>
            </li>
        </ul>
    </nav>
{% endmacro %}
